:host {
  width: 250px;
  height: 100%;
  display: block;
  border-right: 1px solid #ccc;
}

.title {
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
}

app-card {
  margin: 10px 20px;
}
