:host {
  box-sizing: border-box;
  padding: 16px;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}

app-column,
app-add-column {
  flex: 0 0 auto;
}

app-card {
  margin: 0 auto 20px;
  width: 210px;

  &:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
