<app-column *ngFor="let column of columns" [id]="getColumnNodeId(column)" [column]="column" cdkDropList
  [cdkDropListData]="column" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="columns.map(getColumnNodeId)">
  <app-card *ngFor="let card of getCardsOfColumn(column)" [card]="card" cdkDrag>
    <app-card *cdkDragPreview [card]="card" isDragging="true"></app-card>
  </app-card>
  <app-add-item (submit)="addCard($event, column.id)"></app-add-item>
</app-column>
<app-add-item (submit)="addColumn($event)" class="add-column"></app-add-item>
