<app-column
  *ngFor="let column of (columns$ | async) as columns"
  [id]="getColumnNodeId(column)"
  [column]="column"
  cdkDropList
  [cdkDropListData]="column"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="columns.map(getColumnNodeId)"
>
  <app-card
    *ngFor="let card of (column | getCardsFromColumn | async)"
    [card]="card"
    cdkDrag
    [cdkDragData]="card"
    (changeTitle)="updateCardTitle(card.id, $event)"
  >
    <app-card *cdkDragPreview [card]="card" isDragging="true"></app-card>
  </app-card>
  <app-add-item
    (submit)="addCard($event, column.id)"
    itemType="card"
  ></app-add-item>
</app-column>
<app-add-item
  (submit)="addColumn($event)"
  class="add-column"
  itemType="column"
></app-add-item>
